$brand-primary: #af1c15;
$brand-accent: shade($brand-primary, 100);

$dark: #16171b;

$header-bg: $dark;

$top-menu-bg: $black;
$top-menu-text: #ebebeb;

$use-logo: true;
$logo-path: "../images/logo/logo.svg";
